.all{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
    padding: 30px;

}

.best-sellers ul,.apparel ul,.all-shoes ul{
    list-style: none;
    margin: 20px;
    margin-left: -30px;
} 
.best-sellers ul li a,.apparel ul li a,.all-shoes ul li a{
    font-size: 15;
    color: #000;
    text-decoration: none;
    list-style: none;
}
.best-sellers ul li a:hover,.apparel ul li a:hover,.all-shoes ul li a:hover{
    text-decoration: underline;
   
}


.featured{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: -30px;
}
.featured1{
    width: 400px;
    height: 120px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background: url('https://images.pexels.com/photos/19090/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
}
.featured2{
    margin: 15px;
    width: 400px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background: url('https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
}
.featured1 button, .featured2 button{
  color: white;
  font-weight: 700;
  font-size: 23px;
  border: none;
  background: none;
}
.featured1 button:hover, .featured2 button:hover{
    
    text-decoration: underline;
  }
  .product-button{
    color: black;
    font-weight: 600;
    font-size: 19px;
    border: none;
    background: none;

  }
  .product-button:hover{
    color: teal;
    text-decoration: underline;
  }