.men{
    display: flex;
   margin: 0;
   padding: 0;
    width: 100%;
    flex-direction: row;
}

.men-shoes{
    display: flex;
    flex-direction: column;
    
}
.men-shoes img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 10px 30px;
    background: rgb(243, 240, 240);
    cursor: pointer;
}
.single-men{
  display: flex;
}

.single-men img{
    width: 650px;
    height: 600px;
    object-fit: cover;
    background: rgb(243, 240, 240);
}
.men-details{
    display: flex;
    align-items: start;
    flex-direction: column;
    line-height: 15px;
    margin-left: 50px;
    
}

.men-details p{
    margin-left: 0px;
}
.men-details p i{
    margin-left: 15px;
    padding: 2px 5px;
    background: rgb(221, 215, 215);
}
.men-details-ul a{
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.men-details-ul a:hover{
    text-decoration: underline;
}
.round{
    display: flex;

}
.round img{
    width: 40px;
    height: 40px;
    border: 2px solid grey;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.single-men .men-round{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.round .size{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 5px;
    border: 1.3px solid black;
    cursor: pointer;
}
.round .size:hover{
    background: rgb(229, 223, 223);
}
.cart{
    font-size: 12px;
    line-height: 20px;
}
.cart-button{
    width: 500px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    background: #000;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    cursor: pointer;
}
.cart-button span{
    color: white;
    background: #000;
    text-decoration: line-through;

}
.cart-button:hover,
.cart-button span:hover{
    background: white;
    color: #000;
}
.cart2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    line-height: 20px;
}
.cart2 p a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
}


.Tree-Runner-Highlights{
    width: 53%;
    background: rgb(243, 240, 240);
    margin: -20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 10px;
    
}
.Tree-Runner-Highlights p{
   line-height: 14px;
}
.Tree-Runner{
    width: 50%;
    margin: 50px 50px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    line-height: 8px;
    
}

@media screen and (max-width: 480px){
    .men{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        width: 100%;
    }
    
    .men-shoes{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 50px;
    }
    .men-shoes img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin: 5px;
        background: rgb(243, 240, 240);
        cursor: pointer;
    }
    .single-men{
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
    }
    
    .single-men img{
        width: 400px;
       
        height: 500px;
        object-fit: cover;
        background: rgb(243, 240, 240);
    }
    .men-details{
        display: flex;
        align-items: start;
        flex-direction: column;
        line-height: 15px;
      
        
    }
    
.round{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.round img{
    width: 40px;
    height: 40px;
    border: 2px solid grey;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.single-men .men-round{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.men-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: -40px;
}
.round .size{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1.3px solid black;
    cursor: pointer;
}
.cart-button{
    width: 250px;
}

.Tree-Runner-Highlights{
    width: 90%;
    background: rgb(243, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 5px;
    
}
.Tree-Runner{
    width: 90%;
    margin: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    line-height: 5px;
    
}


}