
/* .nav{
    top: 0px;
    position: sticky;
    z-index: 999;
} */


.nav nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 65px;
    -moz-box-shadow: 2px 11px 21px -8px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 11px 21px -8px rgba(0,0,0,0.25);
    box-shadow: 2px 11px 21px -8px rgba(0,0,0,0.25);
}
.nav nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}
.nav nav ul li a{
    margin: 20px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(54, 50, 50);
    text-decoration: none;
    cursor: pointer;
}
.nav nav ul li a:hover{
    text-decoration: underline;
}
.nav nav .logo{
    margin-left: 100px;
    margin-right: 50px;
    cursor: pointer;
    font-style: oblique;
    font-weight: 700;
    color: rgb(54, 50, 50);
    transform: rotate(-6deg);
    transition: all 0.3s ease;
}
.nav nav .logo:hover, .logo a:hover{
    transform: rotate(0deg);
    text-decoration: underline;
    color: teal;
}
.nav nav .icons{
    display: flex;
}
.nav nav .icons .icon{
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(54, 50, 50);;
}
.logo a{
    font-style: oblique;
    font-weight: 700;
    color: rgb(54, 50, 50);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

 /* -----------------mobile screen-----------  */

 @media screen and( max-width: 480px){
    
    .nav nav{
        display: grid;
        place-content: center;
        grid-template-columns: auto auto;
        width: 100%;
        height: auto;
        
        -moz-box-shadow: 2px 11px 21px -8px rgba(0,0,0,0.25);
        -webkit-box-shadow: 2px 11px 21px -8px rgba(0,0,0,0.25);
        box-shadow: 2px 11px 21px -8px rgba(0,0,0,0.25);
    }
 }