.navbar{
  
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100%;
      background-color: teal;
      color: white;
      
     
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: white;
   
}
.navbar  ul li{
   width: 120px;
   margin: 5px;
}
.navbar ul li a{
    color: white;
    font-size: 12px;
    width: 120px;
    margin: 5px;
}
.navbar ul span{
    color: white;
    margin-right: 20px;
    
}
.navbar ul h5{
    color: white;
}

