.navbar{
  
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      position: sticky;
      width: 100%;
      top: 0;
      background-color: teal;
      color: white;
      z-index: 999;
     
}
.navbar header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: white;
}
.navbar header nav ul li a{
    color: white;
    font-size: 12px;
    width: 100px;
    margin: 5px;
}
span{
 
    margin: 3px;
    color: white;

}
.navbar header nav ul h5{
    color: white;
}

